name: CI

on:
  push:
    branches: [ master ]
    tags: [ v*.*.* ]

  pull_request:
    branches: [ master ]
    types:
      - synchronize
      - opened
      - reopened

jobs:
  create_release:
    name: Create Release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        architecture: [ armhf, arm64, amd64 ]
        distribution: [ bookworm, trixie ]
    permissions:
      contents: write
      discussions: write
    steps:
      - name: Checkout with token
        uses: actions/checkout@v5
        with:
          submodules: true
          token: ${{ github.token }}

      - name: Set up QEMU for multi-architecture builds
        uses: docker/setup-qemu-action@v3

      - name: Build Project
        uses: devcontainers/ci@v0.3
        with:
          subFolder: "${{ github.workspace }}"
          configFile: .devcontainer/${{ matrix.architecture }}-${{ matrix.distribution }}-container/devcontainer.json
          push: never
          runCmd: |
            BUILD_DIR="/workspaces/libzmq/build"
            mkdir ${BUILD_DIR}
            cd ${BUILD_DIR}
            
            cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo -DENABLE_DRAFTS=ON ../
            cmake --build . -j $(cat /proc/cpuinfo  | grep -E "processor\s*:\s*[0-9]+" | wc -l)
            
            DIST_DIR="/workspaces/libzmq/dist"
            echo "set(CPACK_PACKAGE_DIRECTORY ${DIST_DIR})" > "${BUILD_DIR}/CPackProperties.cmake"
            
            cpack .
            
            for pkg in $(find ${DIST_DIR} -maxdepth 1 -name "*.deb")
            do
              mv -vf "$pkg" "${DIST_DIR}/${{ matrix.distribution }}_$(basename "$pkg")"
            done

      - name: Release
        uses: softprops/action-gh-release@v2
        if: ${{ startsWith(github.ref, 'refs/tags/')}}
        with:
          fail_on_unmatched_files: true
          generate_release_notes: true
          files: |
            dist/*.*deb
